   <style>
                  
 
.contain{	
	background:rgba(0, 0, 0, .2);
}
.myimg{
	width : 200px;
	height : 200px;
}
.clear {clear: both;}
.myh{
	display:inline;
}
textarea{
	display:inline;
	
}
.name{
	background:#ADD8E6;
}
.obj{
	background:#66CDAA;
}
.edu{
	background:#66CDAA;
}
.tec{
	background:	#9ACD32;
}
.softskills{
	background:#66CDAA;
}
.langs{
	background:#66CDAA;
}

.tec{
	background:#66CDAA;
}
.pinfo{
	background:#66CDAA;
}
.ref{
	background:#66CDAA;
}

.con{
	background:#66CDAA;
}






                </style>
  
        <div class="contain">
           
            <div class = "myimg">
                <%= image_tag("AmrFayad.jpg" , size:'250x250' )%>
               
            </div>
            <br><br>
            <div>
                <h1 align="center">Amr Mahmoud Mohammed Ezzat</h1>
            </div>
            <div class="clear"></div>
            
            
            
            <div class="name">
                <div>
                    <h2>Personal Information : </h2>
                </div>

                 <div>
                     <ul>
                            <li>Email  : <a href="mailto:amr.fci2007@gmail.com" target="_blank">amr.fci2007@gmail.com</a></li>
                            <li>Mobile : (+20)10 24847900  / (+20)1144250674</li>
                            <li>Address :  El-Basattin, Damanhur, El-Behera ,Egypt</li>

                        </ul>
                 </div>
               </div>

            
            <div class="obj">
                <div>
                    <h2>Career Objective : </h2>
                </div>

                 <div>
                     <ul>
                         <li><p>Am seeking a challenging position, where I can utilize my present skills
                             as well as developing new ones; I am looking for a healthy challenging environment.
                          </p></li>
                     </ul>
                 </div>
            </div>
            
            
            <div class="edu">
            
                <div>
                    <h2>Education  : </h2>
                </div>

                 <div>
                     <ul>
                         <li>
                                BSc of​  ​ computer & Information computer science department, Cairo university(2012)
                                Graduation grade : Good
                                Graduation Project : M-government (Agricultural Services)
                                The main idea is To  deliver information to farmer based on his profile   Personal information ,Location 	and Cultivated crops  , Provide farmer with information  about Climate , Water resources and Market (seeds ,fertilizer and pesticides) And help him To know sale price and where he can sell his crops
                                Project Grade: Excellent (99%)
                            </li>
                            <li>

                                2004-2007 : Omer-Mackram  secondary School (Damanhur – El-Behera )
                                Grade:93.5 %
                            </li>
                     </ul>
                 </div>
            
            
            </div>
            
            
            
            <div class="tec">
                <div>
                    <h2>Technical Skills : </h2>
                </div>
            
                 <div>
                     <ul>
                            <li>Main Interest: Good experience in PHP</li>
                            <li>MySQL , sql Server</li>
                            <li>HTML , CSS , JAVA Script , JS Libraries</li>
                            <li>C/C++ , JAVA ,VB , C#</li>
                            <li>IDEs : Netbeans ,Eclipse</li>
                            <li>Good in Android</li>
                        </ul>
                 </div>
            </div>
            
            <div class="softskills">
            
                <div>
                     <h2>Soft Skills : </h2>
                </div>
            
                <div>
                  <ul>
                        <li>Good work ethics with excellent communication and interpersonal skills. </li>
                        <li>Capable to deal with the new leading Technologies. </li>
                        <li>Ability to work well in both a team environment and individual environment.</li>
                           
                   </ul>
                </div>    
            </div>
            
            <div class ="langs">
                <div>
                    <h2>  Languages : </h2>
                </div>
                <div>
                    <ul>
                            <li>
                                English: Good
                            </li>
                    </ul>
                </div>
            </div>
            
            
            
            
            <div class ="pinfo">
            

                <div>
                    <h2> Personal Information : </h2>
                </div>
                <div>
                     <ul>
                            <li>Date of birth : 		march 06, 1990</li>
                            <li>Gender :			Male</li>
                            <li>Military Status:		Completed In 1st October 2015</li>
                        </ul>
                </div>

            
            </div>
            
            
            <div class="ref">
                <div>
                    <h2> References : </h2>
                </div>
                <div>
                    <ul>
                        <li> References are available upon request </li>
                    </ul>
                </div>
            </div>
            
            </div>
           